<h1 style="text-align: center;">{{titulo}}</h1>

<form>
  <input type="text" name="nombre" [(ngModel)]="nombre"><br/>

  <input type="text" name="apellido" [(ngModel)]="apellido"><br/>

  <input type="text" name="cargo" [(ngModel)]="cargo"><br/>

  <input type="submit" value="Registrar" (click)="registrarUsuario()">

</form>

<br/>

<p *ngIf="registrado; else sinRegistrar">{{mensaje}} {{nombre}} {{apellido}} y tiene un cargo de 
  <span [ngClass]="{directores: cargo == 'director'}">{{cargo}}</span></p>

<ng-template #sinRegistrar>

  <p>Nadie regitrado</p>

</ng-template>

<ul>

  <!-- <li *ngFor="let entrada of entradas"><span style="font-size: larger; font-weight: bold;">{{entrada.titulo}}</span></li> -->

</ul>